<br><br>
<div>Bienvenido. <%= @user.name %></div>
<br><br>
<div>Listo para jugar?</div>
<br><br>
<div>Selecciona el deck que deseas jugar:</div>
<br>
<% @decks.each do |d|%>
  <div class="deck">
    <a href='/game/<%="#{d.name}"%>' class="ad"><%=d.name%></a>
  </div>
  <br>
<% end %>

<br><br>
<a class="button" href='/stadistics/<%="#{@id}"%>' >Conocer mis estadísticas</a>
<br><br>
<a class="button" href="/destruir">Terminar sesión</a>
